# Challenge 3 Create a Travel Itinerary with a Corresponding Map

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [3]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,1,Rikitea,PF,75.38,-23.12,-134.97,Pension Maro'i
2,2,Butaritari,KI,80.56,3.07,172.79,Isles Sunset Lodge
3,4,Katsuura,JP,84.00,35.13,140.30,Katsuura Hotel Mikazuki
4,9,East London,ZA,66.90,-33.02,27.91,Tu Casa

In [4]:
#Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat","Lng"]]

In [5]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

In [6]:
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Yanam"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Kanniyakumari"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Nileshwar"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bhavani"]

In [14]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(16.73, 82.22)
(8.08, 77.57)
(12.25, 75.1)
(11.45, 77.68)

In [17]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [21]:
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
139,240,Yanam,IN,87.80,16.73,82.22,The Regency Hotel
347,540,Kanniyakumari,IN,83.82,8.08,77.57,New Cape Hotel
272,434,Nileshwar,IN,77.00,12.25,75.10,Khanan Beach Resort
204,335,Bhavani,IN,86.00,11.45,77.68,Paviesh Park

In [22]:
itinerary_df.reset_index(drop=True)

   City_ID           City Country  Max Temp    Lat    Lng           Hotel Name
0      240          Yanam      IN     87.80  16.73  82.22    The Regency Hotel
1      540  Kanniyakumari      IN     83.82   8.08  77.57       New Cape Hotel
2      434      Nileshwar      IN     77.00  12.25  75.10  Khanan Beach Resort
3      335        Bhavani      IN     86.00  11.45  77.68         Paviesh Park

In [23]:
#Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat","Lng"]]

In [24]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

In [25]:
fig

Figure(layout=FigureLayout(height='420px'))